@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/SourceSansPro-Black.woff2') format('woff2'),
    url('/fonts/SourceSansPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/SourceSansPro-Bold.woff2') format('woff2'),
    url('/fonts/SourceSansPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/SourceSansPro-Regular.woff2') format('woff2'),
    url('/fonts/SourceSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Bold.woff2') format('woff2'),
    url('/fonts/Nunito-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Regular.woff2') format('woff2'),
    url('/fonts/Nunito-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-headings font-bold;
  }
}

@layer utilities {
  .smoothify {
    @apply transition duration-500 ease-in-out;
  }
}

.album-tr {
  -webkit-transform: translate(-100%, -100%) rotate(-90deg);
  -ms-transform: translate(-100%, -100%) rotate(-90deg);
  transform: translate(-100%, -100%) rotate(-90deg);
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
  left: 15%;
}

.review {
  @apply px-8 py-5 bg-white rounded-lg mx-auto w-full;
}

.review h2 {
  @apply text-2xl uppercase font-bold;
}

.review p {
  @apply my-4 text-lg;
}

.review img {
  @apply my-10;
}
